.green {
  background-color: green;
  color: white;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: none;
}

.red {
  background-color: red;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: none;
  color: white;
}

.blue {
  background-color: blue;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border: none;
  color: white;
}
